<h1>Khao Yai Piping Team-Building 2026</h1>

<p>Welcome to the registration page.</p>

<%= link_to "Start Registration", new_registration_path %>

<br><br>

<%= link_to "Admin", registrations_path, style: "font-size: 12px; color: gray;" %>